* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  background-color: #FF9A4B;
  width: 100%;
  height: 50px;
}

footer {
  background-color: #AAAAAA;
  height: 50px;
  width: 100%;
}

main {
  width: 100%;
  margin: 0 auto;
  background-size: cover;
}

.flex {
  display: flex;
  background-color: #fff;
  width: 960px;
  margin: 0 auto;
}

.title {
  margin: 15px 0 5px 0;
}

.step1 {
  background-color: #FF9A4B;
  color: #EEEEEE;
  position: absolute;
  margin-top: 0;
  margin-left: 0;
}

.aa {
  margin: 10px;
}

.blog-image1 {
height: 150px;
width: 100%;
background-image: url(img/flow01.png);
background-size: cover;
/* display: flex;
justify-content: center; */
/* align-items: center;
margin: 0 auto;
margin-top: 10px; */
}

.step2 {
  background-color: #FF9A4B;
  color: #EEEEEE;
  position: absolute;
  margin-top: 0;
  margin-left: 0;
}

.blog-image2 {
  height: 150px;
  width: 100%;
  background-image: url(img/flow02.png);
  background-size: cover;
  /* display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin: 10px; */
}

.step3 {
  background-color: #FF9A4B;
  color: #EEEEEE;
  position: absolute;
  margin-top: 0;
  margin-left: 0%;
}

.blog-image3 {
  height: 150px;
  width: 100%;
  background-image: url(img/flow03.png);
  background-size: cover;
  /* display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 10px; */
}

.main h3 {
margin-left: 10px;
}

.blog-item {
  width: 300px;
  background-color: #EEEEEE;
  margin: 50px 0px 50px 0px;
}
.blog-item:first-child{
  margin-right: 30px;
}

.blog-item:last-child{
  margin-left: 30px;
}

@media screen and (max-width: 768px) {
  main {
    width: 100%;
  }

 .flex {
   display: block;
   align-items: center;
   width: 100%;
 }
 .blog-item {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.blog-image1 {
  background-size: 100% 100%;
}

.blog-image2 {
  background-size: cover;
}

.blog-image3 {
  background-size: cover;
}
}